/* if screen is equal to or smaller than 767 px, which is supposedly mobile size for this lab */
@media screen and (max-width: 767px) {
  body {
    background: blue;
    width: 767px;
  }
  h1 {
    border:
    width: 100%;
  }  
  main {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  section {
    width: 100%;
  }
  ul {
    width: 100%;
  }
  li {
    width: 100%;
  }

}

/* if screen is equal to or larger than 768 px, which is supposedly mobile size for this lab, therefore we're on desktop */
@media screen and (min-width: 768px) {
  body {
    background: purple;
  }
}